@font-face {
  font-family: 'MavenPro-SemiBold';
  src: url("../fonts/MavenPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MavenPro-SemiBold.woff") format("woff"), url("../fonts/MavenPro-SemiBold.ttf") format("truetype"), url("../fonts/MavenPro-SemiBold.svg#MavenPro-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MavenPro-Regular';
  src: url("../fonts/MavenPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MavenPro-Regular.woff") format("woff"), url("../fonts/MavenPro-Regular.ttf") format("truetype"), url("../fonts/MavenPro-Regular.svg#MavenPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MavenPro-Medium';
  src: url("../fonts/MavenPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/MavenPro-Medium.woff") format("woff"), url("../fonts/MavenPro-Medium.ttf") format("truetype"), url("../fonts/MavenPro-Medium.svg#MavenPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MavenPro-Black';
  src: url("../fonts/MavenPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MavenPro-Black.woff") format("woff"), url("../fonts/MavenPro-Black.ttf") format("truetype"), url("../fonts/MavenPro-Black.svg#MavenPro-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.7;
  color: #64676C;
  font-family: "MavenPro-Regular", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden; }

ul {
  list-style-type: none;
  margin-bottom: 0; }

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff; }

a:hover {
  text-decoration: none; }

button:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

body {
  font-family: "MavenPro-Regular", sans-serif;
  line-height: 1.7;
  color: #64676C; }

.heading {
  color: #323232;
  font-family: "MavenPro-SemiBold", sans-serif;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .heading.center {
    text-align: center; }
  .heading--main {
    font-size: 4.2rem;
    color: #ffffff;
    font-family: "MavenPro-SemiBold", sans-serif;
    position: relative;
    margin-bottom: 3rem; }
  .heading--title {
    font-size: 3.2rem;
    color: #323232;
    margin-bottom: 4rem; }
  .heading--medium {
    font-size: 2.8rem;
    text-transform: capitalize;
    margin-bottom: 2rem; }
  .heading--small {
    font-size: 1.8rem; }

.paragraph {
  font-size: 1.8rem;
  line-height: 36px;
  margin-bottom: 1.8rem; }
  .paragraph--main {
    font-size: 2rem;
    font-family: "MavenPro-Regular", sans-serif;
    margin-bottom: 4rem; }
  .paragraph--small {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #3589F1; }

.text-center {
  text-align: center !important; }

.text-white {
  color: #ffffff !important; }

.w-100 {
  width: 100%; }

.fw-medium {
  font-family: "MavenPro-Medium", sans-serif; }

.fw-semi {
  font-family: "MavenPro-SemiBold", sans-serif; }

.fw-bold {
  font-family: "MavenPro-Black", sans-serif; }

.text-light {
  color: #FEFEFE; }

.text-dark {
  color: #323232; }

.relative {
  position: relative !important; }

.absolute {
  position: absolute; }

.margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }

.margin-bottom-big {
  margin-bottom: 8rem !important; }

.margin-top-medium {
  margin-top: 4rem !important; }

.margin-top-big {
  margin-top: 8rem !important; }

.margin-top-huge {
  margin-top: 10rem !important; }

.margin-bottom-none {
  margin-bottom: 0; }

.gutterX {
  padding-left: 2rem;
  padding-right: 2rem; }

.gutterY {
  padding-top: 9rem; }
  .gutterY__bottom {
    padding-bottom: 9rem; }

.line-after::before {
  content: '';
  position: absolute;
  bottom: -10%;
  height: 2px;
  background-color: #88CC44;
  width: 7rem; }

.line-after.center::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.divider__line {
  max-width: 1220px;
  margin: 0 auto;
  position: relative; }
  .divider__line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    height: 1px;
    background-color: rgba(50, 50, 50, 0.2); }

.show-on-mobile {
  display: none; }
  @media (max-width: 768px) {
    .show-on-mobile {
      display: block; } }

.header .hero {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10rem 0; }
  .header .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .hero__content {
    max-width: 60rem; }
    .header .hero__content .btn-box .btn:not(:last-child) {
      margin-right: 1.2rem; }
  .header .hero__form {
    width: 48rem;
    padding: 2.4rem 1.4rem 2.2rem 1.4rem;
    background-color: #ffffff;
    border-radius: .3rem; }
    .header .hero__form .btn-box {
      margin: .8rem; }
  .header .hero .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .hero .input-group > * {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%;
      padding: .8rem;
      margin-bottom: .6rem; }
      .header .hero .input-group > *.flex-100 {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%; }

.navigation {
  padding: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .navigation__item:not(:last-child) {
    margin-right: 4.8rem; }
  .navigation__link {
    position: relative;
    color: #323232 !important;
    font-family: "MavenPro-Medium", sans-serif;
    padding: 0 .6rem 1rem; }
    .navigation__link::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 0%;
      height: .2rem;
      background-color: #3589F1;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .navigation__link:hover:not(.btn), .navigation__link.active-link:not(.btn) {
      color: #3589F1 !important; }
      .navigation__link:hover:not(.btn)::before, .navigation__link.active-link:not(.btn)::before {
        width: 100%; }
  .navigation #menu-trigger {
    position: relative;
    display: block;
    width: 5rem;
    height: 4.2rem; }
    .navigation #menu-trigger span {
      position: absolute;
      left: 0;
      display: block;
      width: 5rem;
      height: .6rem;
      background-color: #3589F1; }
      .navigation #menu-trigger span:nth-child(1) {
        top: 0; }
      .navigation #menu-trigger span:nth-child(2) {
        top: 1.8rem; }
      .navigation #menu-trigger span:nth-child(3) {
        top: 1.8rem; }
      .navigation #menu-trigger span:nth-child(4) {
        top: 3.6rem; }

.btn {
  padding: 1.2rem 3.2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: .2rem;
  font-family: "MavenPro-Medium", sans-serif; }
  .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn--primary {
    background-color: #223060;
    color: #FEFEFE !important; }
    .btn--primary:hover {
      color: #FEFEFE !important; }
  .btn--secondary {
    background-color: #88CC44;
    color: #FEFEFE !important; }
    .btn--secondary:hover {
      color: #FEFEFE !important; }

input {
  border: none;
  background-color: #F6F6F6;
  color: #323232;
  height: 4.8rem;
  padding: .6rem 1.1rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: .4rem; }
  input:focus {
    outline: none; }

.input-group__item label {
  display: block;
  color: #323232;
  font-size: 1.6rem;
  margin-bottom: .4rem; }

.input-group__item input {
  width: 100%; }

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .about .container .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 55%;
    flex: 1 0 55%; }
    .about .container .content .paragraph {
      padding-right: 4.8rem; }
  .about .container .image-box {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%; }
    .about .container .image-box img {
      width: 100%; }
      .about .container .image-box img.side-image {
        position: absolute;
        bottom: -8%;
        left: -45%; }
