@font-face {
  font-family: 'MavenPro-SemiBold';
  src: url("../fonts/MavenPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MavenPro-SemiBold.woff") format("woff"), url("../fonts/MavenPro-SemiBold.ttf") format("truetype"), url("../fonts/MavenPro-SemiBold.svg#MavenPro-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MavenPro-Regular';
  src: url("../fonts/MavenPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MavenPro-Regular.woff") format("woff"), url("../fonts/MavenPro-Regular.ttf") format("truetype"), url("../fonts/MavenPro-Regular.svg#MavenPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MavenPro-Medium';
  src: url("../fonts/MavenPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/MavenPro-Medium.woff") format("woff"), url("../fonts/MavenPro-Medium.ttf") format("truetype"), url("../fonts/MavenPro-Medium.svg#MavenPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MavenPro-Black';
  src: url("../fonts/MavenPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/MavenPro-Black.woff") format("woff"), url("../fonts/MavenPro-Black.ttf") format("truetype"), url("../fonts/MavenPro-Black.svg#MavenPro-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.7;
  color: #64676C;
  font-family: "MavenPro-Regular", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden; }

ul {
  list-style-type: none;
  margin-bottom: 0; }

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff; }

a:hover {
  text-decoration: none; }

button:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

body {
  font-family: "MavenPro-Regular", sans-serif;
  line-height: 1.7;
  color: #64676C; }

.heading {
  color: #323232;
  font-family: "MavenPro-SemiBold", sans-serif;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .heading.center {
    text-align: center; }
  .heading--main {
    font-size: 4.2rem;
    color: #ffffff;
    font-family: "MavenPro-SemiBold", sans-serif;
    position: relative;
    margin-bottom: 3rem; }
  .heading--title {
    font-size: 3.2rem;
    color: #323232;
    margin-bottom: 4rem; }
  .heading--medium {
    font-size: 2.2rem;
    text-transform: capitalize;
    margin-bottom: 2rem; }
  .heading--small {
    font-size: 1.8rem; }

.paragraph {
  font-size: 1.8rem;
  line-height: 36px;
  margin-bottom: 1.8rem; }
  .paragraph--main {
    font-size: 2rem;
    font-family: "MavenPro-Regular", sans-serif;
    margin-bottom: 4rem; }
  .paragraph--small {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #3589F1;
    line-height: 24px; }

.text-center {
  text-align: center !important; }

.text-white {
  color: #ffffff !important; }

.w-100 {
  width: 100%; }

.fw-medium {
  font-family: "MavenPro-Medium", sans-serif; }

.fw-semi {
  font-family: "MavenPro-SemiBold", sans-serif; }

.fw-bold {
  font-family: "MavenPro-Black", sans-serif; }

.text-light {
  color: #FEFEFE; }

.text-dark {
  color: #323232; }

.relative {
  position: relative !important; }

.absolute {
  position: absolute; }

.margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }

.margin-bottom-big {
  margin-bottom: 8rem !important; }

.margin-top-medium {
  margin-top: 4rem !important; }

.margin-top-big {
  margin-top: 8rem !important; }

.margin-top-huge {
  margin-top: 10rem !important; }

.margin-bottom-none {
  margin-bottom: 0; }

.gutterX {
  padding-left: 2rem;
  padding-right: 2rem; }

.gutterY {
  padding-top: 9rem; }
  .gutterY__bottom {
    padding-bottom: 9rem; }

.line-after::before {
  content: '';
  position: absolute;
  bottom: -10%;
  height: 2px;
  background-color: #88CC44;
  width: 7rem; }

.line-after.center::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.divider__line {
  max-width: 1220px;
  margin: 0 auto;
  position: relative; }
  .divider__line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(100% - 2rem);
    height: 1px;
    background-color: rgba(50, 50, 50, 0.2); }

.show-on-mobile {
  display: none; }
  @media (max-width: 768px) {
    .show-on-mobile {
      display: block; } }

.color-secondary {
  color: #88CC44; }

.overlay {
  position: relative; }
  .overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 48, 96, 0.74); }

.d-block {
  display: block !important; }

.header {
  background-color: #fafafa; }
  .header .hero {
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10rem 0; }
    .header .hero .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header .hero__content {
      max-width: 60rem; }
      .header .hero__content .btn-box .btn:not(:last-child) {
        margin-right: 1.2rem; }
    .header .hero__form {
      width: 48rem;
      padding: 2.4rem 1.4rem 2.2rem 1.4rem;
      background-color: #ffffff;
      border-radius: .3rem; }
      .header .hero__form .btn-box {
        margin: .8rem; }
    .header .hero .input-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .hero .input-group > * {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
        flex: 1 0 50%;
        padding: .8rem;
        margin-bottom: .6rem; }
        .header .hero .input-group > *.flex-100 {
          -webkit-box-flex: 1;
          -ms-flex: 1 0 100%;
          flex: 1 0 100%; }

.navigation {
  padding: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .navigation__item:not(:last-child) {
    margin-right: 4.8rem; }
  .navigation__link {
    position: relative;
    color: #323232 !important;
    font-family: "MavenPro-Medium", sans-serif;
    padding: 0 .6rem 1rem; }
    .navigation__link::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 0%;
      height: .2rem;
      background-color: #3589F1;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .navigation__link:hover:not(.btn), .navigation__link.active-link:not(.btn) {
      color: #3589F1 !important; }
      .navigation__link:hover:not(.btn)::before, .navigation__link.active-link:not(.btn)::before {
        width: 100%; }
  .navigation #menu-trigger {
    position: relative;
    display: block;
    width: 5rem;
    height: 4.2rem; }
    .navigation #menu-trigger span {
      position: absolute;
      left: 0;
      display: block;
      width: 5rem;
      height: .6rem;
      background-color: #3589F1; }
      .navigation #menu-trigger span:nth-child(1) {
        top: 0; }
      .navigation #menu-trigger span:nth-child(2) {
        top: 1.8rem; }
      .navigation #menu-trigger span:nth-child(3) {
        top: 1.8rem; }
      .navigation #menu-trigger span:nth-child(4) {
        top: 3.6rem; }

.btn {
  padding: 1.2rem 3.2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: .2rem;
  font-family: "MavenPro-Medium", sans-serif; }
  .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn--primary {
    background-color: #223060;
    color: #FEFEFE !important; }
    .btn--primary:hover {
      color: #FEFEFE !important; }
  .btn--secondary {
    background-color: #88CC44;
    color: #FEFEFE !important; }
    .btn--secondary:hover {
      color: #FEFEFE !important; }
  .btn--link {
    padding: 0 0;
    position: relative;
    padding-bottom: .6rem; }
    .btn--link::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #88CC44;
      width: 40%;
      height: .3rem;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .btn--link:hover {
      color: #FEFEFE !important; }
      .btn--link:hover::before {
        width: 80%;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }

input {
  border: none;
  background-color: #F6F6F6;
  color: #323232;
  height: 4.8rem;
  padding: .6rem 1.1rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: .4rem; }
  input:focus {
    outline: none; }

.input-group__item label {
  display: block;
  color: #323232;
  font-size: 1.6rem;
  margin-bottom: .4rem; }

.input-group__item input {
  width: 100%; }

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .about .container .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 55%;
    flex: 1 0 55%; }
    .about .container .content .paragraph {
      padding-right: 4.8rem; }
  .about .container .image-box {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%; }
    .about .container .image-box img {
      width: 100%; }
      .about .container .image-box img.side-image {
        position: absolute;
        bottom: -8%;
        left: -45%; }

.services .services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .services .services-box__item {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    overflow: hidden;
    height: 48rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .services .services-box__item .content {
      position: absolute;
      bottom: -12rem;
      padding: 0 3.5rem;
      width: 100%;
      z-index: 2;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      .services .services-box__item .content .heading {
        margin-bottom: 5rem;
        -webkit-transition: all .42s ease-in-out;
        -o-transition: all .42s ease-in-out;
        transition: all .42s ease-in-out; }
    .services .services-box__item:hover .content {
      bottom: 4rem;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
      .services .services-box__item:hover .content .heading {
        margin-bottom: 2rem;
        -webkit-transition: all .42s ease-in-out;
        -o-transition: all .42s ease-in-out;
        transition: all .42s ease-in-out; }

.feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10rem; }
  .feature-box__item {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    padding: 7rem 2rem 2rem;
    margin-bottom: 7.3rem;
    border-radius: .3rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.1); }
  .feature-box__image {
    position: absolute;
    top: -36px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.apply {
  background-color: #fafafa; }
  .apply-box {
    position: relative;
    margin-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .apply-box::before {
      content: "";
      position: absolute;
      width: 90%;
      height: .5rem;
      background-color: #223060;
      top: 50%;
      left: 5%; }
    .apply-box__item {
      position: relative;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
      flex: 0 0 31%;
      -webkit-box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1rem 3rem rgba(0, 0, 0, 0.1);
      padding: 5rem 2rem 1.2rem;
      background-color: #ffffff; }
      .apply-box__item .count {
        position: absolute;
        left: 2rem;
        top: -3rem;
        width: 6rem;
        height: 6rem;
        border-radius: 100%;
        background-color: #223060;
        color: #ffffff;
        font-size: 2rem;
        font-family: "MavenPro-SemiBold", sans-serif;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .apply-box__item .heading span {
        margin-bottom: 1.2rem; }
      .apply-box__item:nth-child(1) {
        margin-top: 8rem; }
      .apply-box__item:nth-child(2) {
        margin-top: 4rem; }

.faq .paragraph--small {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto; }

.faq .faq-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%; }
  .faq .faq-box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .faq .faq-box__item {
    margin: 1.4rem 0 3rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.3125rem 1.5625rem 0 rgba(32, 78, 141, 0.08);
    box-shadow: 0 0.3125rem 1.5625rem 0 rgba(32, 78, 141, 0.08);
    padding: 2rem 1.4rem;
    border-radius: .4rem; }
    .faq .faq-box__item__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .faq .faq-box__item__link .heading {
        margin-bottom: 0; }
      .faq .faq-box__item__link.active span {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
        .faq .faq-box__item__link.active span svg path {
          stroke: #223060; }
      .faq .faq-box__item__link.active + .faq-box__item__content {
        display: block;
        opacity: 1; }
    .faq .faq-box__item__content {
      margin-top: 3rem;
      opacity: 0;
      display: none; }

.footer {
  background-color: #fafafa; }
  @media (max-width: 768px) {
    .footer__upper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer__upper .media__links {
        margin-top: 2rem; }
    .footer__lower {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer__lower ul {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-right: auto;
        margin-right: auto !important; } }
  .footer__upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 3rem; }
    .footer__upper .media__links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer__upper .media__links a:hover svg path {
        fill: #223060; }
      .footer__upper .media__links a:not(:last-child) {
        margin-right: 2rem; }
  .footer .divider {
    padding-bottom: 5rem; }
    .footer .divider::before {
      content: '';
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #558899; }
  .footer__lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 3rem; }
    .footer__lower ul {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
      flex: 0 0 32%; }
      .footer__lower ul li {
        margin-bottom: 1.2rem; }
        .footer__lower ul li.title {
          font-size: 1.6rem;
          text-transform: uppercase;
          color: #323232 !important;
          font-family: "MavenPro-Medium", sans-serif;
          margin-bottom: 4rem; }
        .footer__lower ul li a {
          color: #323232; }
          .footer__lower ul li a:hover {
            text-decoration: underline; }
