// COLORS
$color-primary: #223060;
$color-primary-light-1: #558899;
$color-primary-light-2: #3589F1;

$color-secondary: #88C417;
$color-secondary-light-1: #71da08;

$color-grey-dark: #323232;

$color-grey-light-1: #64676C;
$color-grey-light-2:#FEFEFE;
$color-grey-light-3:#F6F6F6;
$color-white-bg:#f7f7f7;

$color-white: #ffffff;
$color-black: #000000;

$color-light: hsl(0, 0%, 98%);

// FONT
$default-font-size: 1.6rem;

$default-font: 'MavenPro-Regular', sans-serif;
$heading-font-bold: 'MavenPro-SemiBold', sans-serif;
$heading-font-medium: 'MavenPro-Medium', sans-serif;
$heading-font-black: 'MavenPro-Black', sans-serif;

$quotation-font: 'AeroRegularSWFTE', san-serif;

// GUTTER
$gutterX: 2rem;
$gutterY: 9rem;