.header {
    background-color: $color-light;
    .hero {
        background-image: url('../img/hero-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10rem 0;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include media(991px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__content {
            max-width: 60rem;
            @include media(991px) {
                margin-bottom: 7rem;
                max-width: 54rem;
                margin-right: auto;
                margin-left: auto;
            }
            .btn-box {
                .btn {
                    &:not(:last-child) {
                        margin-right: 1.2rem;
                        @include media(425px) {
                            margin-right: 0;
                            margin-bottom: 1.3rem;
                        }
                    }
                    @include media(425px) {
                        display: block;
                    }
                }
            }
        }
        &__form {
            max-width: 48rem;
            padding: 2.4rem 1.4rem 2.2rem 1.4rem;
            background-color: $color-white;
            border-radius: .3rem;
            .btn-box {
                margin: .8rem;
            }
            @include media(991px) {
                max-width: 54rem;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .input-group {
            display: flex;
            & > * {
                flex: 1 0 50%;
                padding: .8rem;
                margin-bottom: .6rem;
                &.flex-100 {
                    flex: 1 0 100%;
                }
            }
        }
    }
}