.btn {
    &:focus {
        box-shadow: none;
    }
    padding: 1.2rem 3.2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    border-radius: .2rem;
    font-family: $heading-font-medium;
    &--primary {
       background-color: $color-primary;
       color: $color-grey-light-2 !important;
       &:hover {
           color: $color-grey-light-2 !important;
       }
   }
    &--secondary {
       background-color: $color-secondary;
       color: $color-grey-light-2 !important;
       &:hover {
           color: $color-grey-light-2 !important;
       }
   }
}