*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    box-sizing: border-box;
    line-height: 1.7;
    color: $color-grey-light-1;
    font-family: $default-font;
    font-size: $default-font-size;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: $color-white;
}

a:hover {
    text-decoration: none;
}

button:focus {
    box-shadow: none;
}