body {
    font-family: $default-font;
    line-height: 1.7;
    color: $color-grey-light-1;
}

.heading{
    color: $color-grey-dark;
    font-family: $heading-font-bold;
    text-transform: uppercase;
    backface-visibility: hidden;
    &.center {
        text-align: center;
    }
    &--main {
        font-size: 4.2rem;
        color: $color-white;
        font-family: $heading-font-bold;
        position: relative;
        margin-bottom: 3rem;
    }
    &--title {
        font-size: 3.2rem;
        color: $color-grey-dark;
        margin-bottom: 4rem;
    }
    &--medium {
        font-size: 2.8rem;
        text-transform: capitalize;
        // font-family: $heading-font-medium;
        margin-bottom: 2rem;
    }
    &--small {
        font-size: 1.8rem;
    }
}

.paragraph {
    font-size: 1.8rem;
    line-height: 36px;
    margin-bottom: 1.8rem;
    &--main {
        font-size: 2rem;
        font-family: $default-font;
        margin-bottom: 4rem;
    }
    &--small {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        color: $color-primary-light-2;
    }
  }
  