.about {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include media(768px) {
            flex-wrap: wrap;
        }
        .content {
            flex: 1 0 55%;
            @include media(768px) {
                flex: 1 0 100%;
                margin-bottom: 4rem;
            }
            .paragraph {
                padding-right: 4.8rem;
                @include media(768px) {
                    padding-right: 0;
                }
            }
        }
        .image-box {
            position: relative;
            flex: 1 0 40%;
            @include media(768px) {
                flex: 1 0 100%;
            }
            img {
                width: 100%;
                &.side-image {
                    position: absolute;
                    bottom: -8%;
                    left: -45%;
                    @include media(1023px) {
                        display: none;
                    }
                }
            }
            
        }
    }
}

.services {
    .services-box {
        display: flex;
        flex-wrap: wrap;
        &__item {
            position: relative;
            flex: 0 0 25%;
            overflow: hidden;
            height: 48rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @include media(768px) {
                flex: 0 0 50%;
            }
            @include media(580px) {
                flex: 0 0 100%;
            }
            .content {
                position: absolute;
                bottom: -10rem;
                padding: 0 3.5rem;
                width: 100%;
                z-index: 2;
                transition: all .4s ease-in-out;
                .heading {
                    margin-bottom: 5rem;
                    transition: all .42s ease-in-out;
                }
                .paragraph,
                .btn {
                    // display: none;
                    opacity: 0;
                }
            }
            &:hover {
                .content {
                    bottom: 4rem;
                    transition: all .4s ease-in-out;
                    .heading {
                        margin-bottom: 2rem;
                        transition: all .42s ease-in-out;
                    }
                    .paragraph,
                    .btn {
                        // display: flex;
                        // width: fit-content;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.feature {
    &-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10rem;
        &__item {
            position: relative;
            flex: 0 0 32%;
            padding: 7rem 2rem 2rem;
            margin-bottom: 7.3rem;
            border-radius: .3rem;
            background-color: $color-white;
            box-shadow: 0px 1rem 3rem rgba($color-black, 0.1);
            @include media(768px) {
               flex: 0 0 100%;
            }
        }
        &__image {
            position: absolute;
            top: -36px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.news-section {
    background-color: $color-light;

    .news-box{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
        grid-gap: 3.5rem;
    }
}

.news {
    padding: 3.2rem 2.4rem;
    border-radius: .3rem;
    box-shadow: 0px 1rem 3rem rgba($color-black, 0.1);

    &__title {
        padding-bottom: 1.2rem;
        border-bottom: 1px solid #d4dde0;
        transition: all .2s ease-in-out;
    }

    &__description {
        padding-top: 2rem;
        // padding-bottom: 1.4rem;
    }

    &__btn {
        &:hover {
            color: $color-secondary !important;
        }
    }

    &:hover {
        .news__title {
            transition: all .2s ease-in-out;
            color: $color-primary;
        }
    }
}



.apply {
    background-color: $color-light;
    &-box {
        position: relative;
        margin-top: 10rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &::before {
            content: "";
            position: absolute;
            width: 90%;
            height: .5rem;
            background-color: $color-primary;
            top: 50%;
            left: 5%;
            // z-index: -1;
        }
        @include media(768px) {
            flex-direction: column;
            align-items: center;
            max-width: 50rem;
            margin: 0 auto;
            margin-top: 7rem;
            &::before {
                width: .5rem;
                height: 80%;
                top: 5%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__item {
            position: relative;
            flex: 0 0 31%;
            box-shadow: 0px 1rem 3rem rgba($color-black, 0.1);
            padding: 5rem 2rem 1.2rem;
            background-color: $color-white;
            border-radius: .3rem;
            @include media(768px) {
                flex: 0 0 100%;
                width: 100%;
                margin-bottom: 7rem;
            }
            .count {
                position: absolute;
                left: 2rem;
                top: -3rem;
                width: 6rem;
                height: 6rem;
                border-radius: 100%;
                background-color: $color-primary;
                color: $color-white;
                font-size: 2rem;
                font-family: $heading-font-bold;
                display: flex;
                align-items: center;
                justify-content: center;
                @include media(768px) {
                   left: 50%;
                   transform: translateX(-50%);
                }
            }
            .heading {
                span {
                    margin-bottom: 1.2rem;
                }
            }

            &:nth-child(1) {
                margin-top: 8rem;
                @include media(768px) {
                    margin-top: 0;
                }   
            }
            &:nth-child(2) {
                margin-top: 4rem;
                @include media(768px) {
                    margin-top: 0;
                }   

            }
        }
    }
}

.faq {
    .paragraph--small {
        max-width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }
    .faq-box {
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }
        flex: 0 0 48%;
        @include media(768px) {
            flex: 0 0 100%;
        }

        &__item {
            margin: 1.4rem 0 3rem;
            background-color: $color-white;
            box-shadow: 0 0.3125rem 1.5625rem 0 rgba(32,78,141,.08);
            padding: 2rem 1.4rem;
            border-radius: .4rem;
            &__link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .heading {
                    margin-bottom: 0;
                }
                &.active {
                    span {
                        transform: rotate(180deg);
                        svg path {
                            stroke: $color-primary;
                        }
                    }
                }
                &.active + .faq-box__item__content {
                    display: block;
                    opacity: 1;
                }
            }
            &__content {
                margin-top: 3rem;
                opacity: 0;
                display: none;
            }
        }
    }
}
