.about {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .content {
            flex: 1 0 55%;
            .paragraph {
                padding-right: 4.8rem;
            }
        }
        .image-box {
            position: relative;
            flex: 1 0 40%;
            img {
                width: 100%;
                &.side-image {
                    position: absolute;
                    bottom: -8%;
                    left: -45%;
                }
            }
            
        }
    }
}

.services {
    .services-box {
        display: flex;
        flex-wrap: wrap;
        &__item {
            position: relative;
            flex: 0 0 25%;
            overflow: hidden;
            height: 48rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .content {
                position: absolute;
                bottom: -12rem;
                padding: 0 3.5rem;
                width: 100%;
                z-index: 2;
                transition: all .4s ease-in-out;
                .heading {
                    margin-bottom: 5rem;
                    transition: all .42s ease-in-out;
                }
            }
            &:hover {
                .content {
                    bottom: 4rem;
                    transition: all .4s ease-in-out;
                    .heading {
                        margin-bottom: 2rem;
                        transition: all .42s ease-in-out;
                    }
                }
            }
        }
    }
}

.feature {
    &-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10rem;
        &__item {
            position: relative;
            flex: 0 0 32%;
            padding: 7rem 2rem 2rem;
            margin-bottom: 7.3rem;
            border-radius: .3rem;
            background-color: $color-white;
            box-shadow: 0px 1rem 3rem rgba($color-black, 0.1);
        }
        &__image {
            position: absolute;
            top: -36px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.apply {
    background-color: $color-light;
    &-box {
        position: relative;
        margin-top: 10rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &::before {
            content: "";
            position: absolute;
            width: 90%;
            height: .5rem;
            background-color: $color-primary;
            top: 50%;
            left: 5%;
            // z-index: -1;
        }
        &__item {
            position: relative;
            flex: 0 0 31%;
            box-shadow: 0px 1rem 3rem rgba($color-black, 0.1);
            padding: 5rem 2rem 1.2rem;
            background-color: $color-white;
            // z-index: 2;
            .count {
                position: absolute;
                left: 2rem;
                top: -3rem;
                width: 6rem;
                height: 6rem;
                border-radius: 100%;
                background-color: $color-primary;
                color: $color-white;
                font-size: 2rem;
                font-family: $heading-font-bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .heading {
                span {
                    margin-bottom: 1.2rem;
                }
            }

            &:nth-child(1) {
                margin-top: 8rem;
            }
            &:nth-child(2) {
                margin-top: 4rem;

            }
        }
    }
}

.faq {
    .paragraph--small {
        max-width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }
    .faq-box {
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }
        flex: 0 0 48%;

        &__item {
            margin: 1.4rem 0 3rem;
            background-color: $color-white;
            box-shadow: 0 0.3125rem 1.5625rem 0 rgba(32,78,141,.08);
            padding: 2rem 1.4rem;
            border-radius: .4rem;
            &__link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .heading {
                    margin-bottom: 0;
                }
                &.active {
                    span {
                        transform: rotate(180deg);
                        svg path {
                            stroke: $color-primary;
                        }
                    }
                }
                &.active + .faq-box__item__content {
                    display: block;
                    opacity: 1;
                }
            }
            &__content {
                margin-top: 3rem;
                opacity: 0;
                display: none;
            }
        }
    }
}

.footer {
    background-color: $color-light;
    @media (max-width:768px) {
        &__upper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .media__links {
                margin-top: 2rem;
            }
        }
        &__lower {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            ul {
                flex: 0 0 100%;
                margin: 0 auto;
                margin-bottom: 2rem;
                margin-right: auto;
                // &:not(:last-child) {
                    margin-right: auto !important;
                // }
            }
        }
    }
    &__upper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        .media__links {
            display: flex;
            a {
                &:hover {
                    svg path{
                        fill: $color-primary;
                    }
                }
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
    }
    .divider {
        padding-bottom: 5rem;
        &::before {
            content: '';
            position: absolute;
            top: 0%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-primary-light-1;
        }
    }
    &__lower {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        ul {
            flex: 0 0 32%;
            li{
                margin-bottom: 1.2rem;
                &.title {
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    color: $color-grey-dark !important;
                    font-family: $heading-font-medium;
                    margin-bottom: 4rem;
                }
                a {
                    color: $color-grey-dark;
                    // text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                    }
                }

            }
            // &:not(:last-child) {
            //     margin-right: 20rem;
            // }
        }
    }
}